<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            width: 100%;
            height: 100%;
        }
        
        #app {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        #container {
            display: grid;
            /* grid-template-columns: 8rem 8rem 8rem; */
            grid-template-columns: 33% 33% 33%;
            grid-template-rows: 6rem 6rem 6rem;
            margin: 20px auto;
        }
        
        .item {
            border: 1px solid #000;
            font-size: 2rem;
            text-align: center;
            justify-content: center;
        }
        
        .item-2,
        .item-4,
        .item-6,
        .item-8 {
            background-color: #ccc;
        }
        
        .item-2:hover,
        .item-4:hover,
        .item-6:hover,
        .item-8:hover {
            background-color: #EEE;
        }
        /* #id_test_video {
            width: 660px;
            height: 500px;
            border: solid 1px #ccc;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        } */
        
        #sersor>div {
            width: 100%;
            height: 2rem;
        }
        
        #sersor>div>.label {
            width: 100px;
            height: 100%;
            background-color: #ccc;
        }
        
        #sersor>div>.value {
            width: 50%;
            height: 100%;
        }
        
        table,
        td,
        th {
            border: 1px solid black;
            text-align: center;
        }
        
        table {
            width: 100%;
            border-collapse: collapse;
        }
    </style>
    <script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>
    <script src="https://web.sdk.qcloud.com/player/tcplayerlite/release/v2.4.1/TcPlayer-2.4.1.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>

<body>
    <div id="app">
        <div id="id_test_video">
        </div>

        <div id="container">
            <div class="item item-1" id="item1"></div>
            <div class="item item-2" id="item2">上</div>
            <div class="item item-3" id="item3"></div>
            <div class="item item-4" id="item4">左</div>
            <div class="item item-5" id="item5"></div>
            <div class="item item-6" id="item6">右</div>
            <div class="item item-7" id="item7"></div>
            <div class="item item-8" id="item8">下</div>
            <div class="item item-9" id="item9"></div>
        </div>
        <!-- <div id="sersor">
            <div><span class="label">CO2：</span><span class="value">{{serData.CO2}}</span></div>
            <div><span class="label">温度：</span><span class="value">{{serData.wendu}}</span></div>
            <div><span class="label">湿度：</span><span class="value">{{serData.shidu}}</span></div>
            <div><span class="label">光照：</span><span class="value">{{serData.guangzhao}}</span></div>
            <div><span class="label">NH3：</span><span class="value">{{serData.NH3}}</span></div>
        </div> -->
        <table>
            <tr>
                <th>环境参数</th>
                <th>相关值</th>
            </tr>
            <tr>
                <td>CO2：</td>
                <td>{{serData.CO2}} ppm</td>
            </tr>
            <tr>
                <td>温度：</td>
                <td>{{serData.wendu}} ℃</td>
            </tr>
            <tr>
                <td>湿度：</td>
                <td>{{serData.shidu}} %RH</td>
            </tr>
            <tr>
                <td>光照：</td>
                <td>{{serData.guangzhao}} Lux</td>
            </tr>
            <tr>
                <td>NH3：</td>
                <td>{{serData.NH3}} ppm</td>
            </tr>
        </table>
    </div>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                serData: {
                    CO2: 0,
                    wendu: 0,
                    shidu: 0,
                    guangzhao: 0,
                    NH3: 0
                },

            },
            methods: {
                getData: async function() {
                    console.log(111);
                    var that = this;
                    await axios.get("http://frp.gitnote.cn/?num=5").then(
                        function(response) {
                            // console.log(response.data);
                            //axios中的this已经改变，无法拿到data中的数据，故使用that
                            // console.log(this.joke);
                            console.log(response.data);
                            var data = eval("(" + response.data + ")");
                            // console.log(typeof(JSON.parse(response.data)));
                            console.log(((eval("(" + response.data + ")"))));
                            that.serData.CO2 = data.co2;
                            that.serData.wendu = data.wendu;
                            that.serData.shidu = data.shidu;
                            that.serData.guangzhao = data.guangzhao;
                            that.serData.NH3 = data.NH3;

                        },
                        function(err) {
                            console.log("错误：" + err);
                        })
                }
            },
            created: function() {
                setInterval(this.getData, 3000);
            },
        })
        this.getData;
        var btn_2 = document.getElementById("item2");
        console.log(btn_2);
        btn_2.addEventListener('click', function() {
            console.log(2);

            axios.get("http://frp.gitnote.cn/?num=2").then(function(response) {

                    // console.log(response.data.co2);
                    // console.log(typeof(JSON.parse(response.data)));

                    // // console.log("上", );
                },
                function(err) {});
        });
        // 左
        var btn_4 = document.getElementById("item4");
        btn_4.addEventListener('click', function() {

            axios.get("http://frp.gitnote.cn/?num=0").then(function(response) {}, function(err) {});
        });
        // 右
        var btn_6 = document.getElementById("item6");
        btn_6.addEventListener('click', function() {
            console.log(6);

            axios.get("http://frp.gitnote.cn/?num=1").then(function(response) {}, function(err) {});
        });
        // 下
        var btn_8 = document.getElementById("item8");
        btn_8.addEventListener('click', function() {
            console.log(8);

            axios.get("http://frp.gitnote.cn/?num=3").then(function(response) {}, function(err) {});
        });
        // 轮询


        // 播放器
        var player = new TcPlayer('id_test_video', {
            "m3u8": "http://live.qiaoyukeji.cn/live/test.m3u8",
            "flv": "http://live.qiaoyukeji.cn/live/test.flv", //增加了一个 flv 的播放地址，用于PC平台的播放 请替换成实际可用的播放地址
            "autoplay": true, //iOS 下 safari 浏览器，以及大部分移动端浏览器是不开放视频自动播放这个能力的
            "poster": "https://md.gitnote.cn/nanopc-T4_RK3399%20舵机与人脸检测跟踪相关程序-1637667464554-2021112319386.png",
            "width": '480', //视频的显示宽度，请尽量使用视频分辨率宽度
            "height": '320' //视频的显示高度，请尽量使用视频分辨率高度
        });
        // 上
    </script>

</body>

</html>